<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars App</title>
  </head>
  <body>
    <h1>Welcome to Cars App</h1>
    <p>Here will be all the available Cars</p>
    <a href="cars/new">New Car </a>
    <br />

    <a href="/cars">All Cars </a>
  </body>
</html>
