<body>
  <a href="/cars">All Cars</a>
  <a href="/">main menu</a>
  <h1>Create New Cars form</h1>

  <form action="/cars" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />

    <br />
    <label for="description">description:</label>
    <input type="text" name="description" id="description" />

    <br />
    <label for="image">image:</label>
    <input type="text" name="image" id="image" />
    <br />

    <button type="submit">Add Cars</button>
  </form>
</body>
